# Ignore log files
*.log

# Ignore backup files
*.bak
*.swp

# Ignore sensitive files
*.pem
*.key
secrets/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore temp files
*.tmp
/backups/
week1/scripts/preciousfile.txt
